@page
@model AS_Assignment.Pages.Error.custom404Model
@{
    ViewData["title"] = "404 error";
}

    <div class="container">
        <div class="row">
           
            <div class="col-md-6 align-self-center">
                <h1>404</h1>
                <h2>UH OH! You're lost.</h2>
                <p>
                    The page you are looking for does not exist.
                    How you got here is a mystery.
                </p>
                
            </div>
        </div>
    </div>